<app-notification></app-notification>
<app-loading></app-loading>
<div class="flex-1 p-6 ">
    <div class="w-full mx-auto space-y-6">
        <div class="text-gray-500 text-sm font-medium px-4 ">
            <ol class="flex items-center space-x-3">
                <li>
                    <a title="Home" href="#" class="flex items-center text-gray-600 hover:text-blue-500 transition">
                        <fa-icon [icon]="faHome"></fa-icon>
                    </a>
                </li>

                <li>/</li>

                <li class="text-gray-800 font-semibold">
                    Candidate List
                </li>
            </ol>
        </div>

        <div class="bg-white p-6 rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-6">Search Candidate</h2>

            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="space-y-4">
                    <div class="w-full">
                        <input type="text" placeholder="Search..." formControlName="keyword"
                            class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200" />
                    </div>

                    <div class="w-full">
                        <div>
                            <label for="department" class="block text-sm font-medium text-gray-700 mb-1">
                                Status
                            </label>
                            <select id="department" formControlName="status"
                                class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-200">
                                <option [ngValue]="null">-- All Statuses --</option>
                                <option *ngFor="let s of statuses" [ngValue]="s.value">
                                    {{ s.label }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="flex justify-end">
                        <button type="submit"
                            class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors cursor-pointer">
                            Search
                        </button>
                    </div>
                </div>
            </form>

        </div>

        <div class="bg-white p-6 rounded-lg shadow">
            <div class="mb-6 flex flex-col md:flex-row md:items-center md:justify-between gap-4">
                <h2 class="text-2xl font-bold">Candidate List</h2>

                <div class="flex flex-col sm:flex-row gap-2 md:ml-auto">
                    <button (click)="create()" *ngIf="role != 'Interviewer'"
                        class="flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors hover:cursor-pointer">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add New
                    </button>
                </div>
            </div>

            <app-table 
                [isShowNumber]="true" 
                [columns]="columns" 
                [data]="data" 
                [currentPageSize]="currentPageSize"
                [currentPage]="currentPage" 
                [isShowDeleteAction]="isShowDeleteAction"
                [isShowEditAction]="isShowEditAction"
                (onPageChange)="onPageChange($event)"
                (onPageSizeChange)="onPageSizeChange($event)"
                (onDelete)="delete($event)" 
                (onViewDetails)="viewCandidateDetail($event)"
                (onEdit)="update($event)"
                (onSort)="onSort($event)">
            </app-table>
        </div>

    </div>
</div>
