<p>This email is from IMS system,</p>

<p>Your account has been created. Please use the following credentials to login:</p>

<ul>
    <li><strong>User name:</strong> @Model.Email</li>
    <li><strong>Password:</strong> @Model.Password</li>
</ul>

<p>If anything is wrong, please reach out to the recruiter <strong>@Model.RecruiterEmail</strong>. We are so sorry for this inconvenience.</p>

<br>
<p>Thanks & Regards!<br>IMS Team.</p>
