<div class="overflow-x-auto rounded-lg border">
    <table class="w-full">
        <thead class="bg-gray-50">
            <tr>
                <th *ngIf="isShowNumber" class="text-left py-3 px-4 font-medium text-gray-700">#</th>
                <th *ngFor="let col of columns" class="text-left py-3 px-4 font-medium text-gray-700">
                    {{ col.name }}
                </th>
                <th class="text-left py-3 px-4 font-medium text-gray-700">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.items; let i = index" class="border-b hover:bg-gray-50">
                <td *ngIf="isShowNumber" class="py-3 px-4">
                    {{ (currentPage - 1) * currentPageSize + i + 1 }}
                </td>
                <td *ngFor="let col of columns" class="py-3 px-4">
                    {{ item[col.value] }}
                </td>
                <td class="py-3 px-4">
                    <div class="flex items-center justify-center space-x-2">
                        <fa-icon [icon]="faEdit" class="cursor-pointer text-blue-600"
                            (click)="onEdit.emit(item.id)"></fa-icon>
                        <fa-icon [icon]="faTrash" class="cursor-pointer text-red-600"
                            (click)="onDelete.emit(item.id)"></fa-icon>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="mt-6 flex flex-col sm:flex-row justify-between items-center gap-4 px-4">
        <span class="text-sm text-gray-600">
            {{ generatePageInfo() }}
        </span>
        <div class="flex gap-2">
            <button title="Previous" class="px-4 py-2 border rounded-md hover:bg-gray-50 text-gray-600"
                (click)="onPageChange.emit(currentPage - 1)" [disabled]="currentPage === 1">
                Previous
            </button>
            <button title="Next" class="px-4 py-2 border rounded-md hover:bg-gray-50 text-gray-600"
                (click)="onPageChange.emit(currentPage + 1)" [disabled]="currentPage === data.totalPages">
                Next
            </button>
        </div>
    </div>

</div>