<div class="overflow-x-auto rounded-lg border">
  <table class="w-full">
    <thead class="bg-gray-50">
      <tr>
        <th
          *ngIf="isShowNumber"
          class="text-left py-3 px-4 font-medium text-gray-700"
        >
          #
        </th>
        <th
          *ngFor="let col of columns"
          class="text-left py-3 px-4 font-medium text-gray-700"
        >
          <span (click)="onSortColumn(col.value)" class="cursor-pointer">
            {{ col.name }}
            <fa-icon
              *ngIf="col.sortable"
              [icon]="faSort"
              class="ml-1 text-gray-500"
            ></fa-icon>
          </span>
        </th>
        <th class="text-center py-3 px-4 font-medium text-gray-700">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="data && data.items.length != 0; else emptyData">
        <tr
          *ngFor="let item of data.items; let i = index"
          class="border-b hover:bg-gray-50"
        >
          <td *ngIf="isShowNumber" class="py-3 px-4">
            {{ (currentPage - 1) * currentPageSize + i + 1 }}
          </td>
          <td *ngFor="let col of columns" class="py-3 px-4">
            {{ item[col.value] }}
          </td>
          <td class="py-3 px-4">
            <div class="flex justify-center space-x-2">
              <fa-icon
                [icon]="faEye"
                class="cursor-pointer text-blue-600"
                (click)="onViewDetails.emit(item.id)"
              ></fa-icon>
              <fa-icon
                [icon]="faPenToSquare"
                class="cursor-pointer text-blue-600"
                *ngIf="isShowEditAction"
                (click)="onEdit.emit(item.id)"
              ></fa-icon>
              <fa-icon
                [icon]="faTrash"
                class="cursor-pointer text-red-600"
                *ngIf="isShowDeleteAction"
                (click)="confirmDelete(item.id)"
              ></fa-icon>
            </div>
          </td>

          <!-- Modal Xác Nhận Xóa -->
          <div
            *ngIf="isModalOpen"
            class="fixed inset-0 flex items-center justify-center bg-opacity-60 backdrop-blur-sm transition-opacity duration-300"
          >
            <!-- Modal Box -->
            <div
              class="bg-white p-6 rounded-xl shadow-lg w-96 transform transition-all duration-300 scale-95"
              [ngClass]="{
                'scale-100 opacity-100': isModalOpen,
                'scale-95 opacity-0': !isModalOpen
              }"
            >
              <h2 class="text-lg font-semibold text-gray-800">
                Confirm Delete
              </h2>
              <p class="mt-2 text-gray-600">
                Are you sure you want to delete this record?
              </p>

              <div class="mt-4 flex justify-end space-x-2">
                <button
                  (click)="closeModal()"
                  class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 cursor-pointer"
                >
                  Cancel
                </button>
                <button
                  (click)="deleteRecord()"
                  class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 cursor-pointer"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </tr>
      </ng-container>
      <ng-template #emptyData>
        <tr class="border-b hover:bg-gray-50">
          <td [attr.colspan]="calculateColspan()" class="text-center py-3 px-4">
            No data found
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!-- Pagination -->
<div *ngIf="data" class="mt-6 flex flex-col lg:flex-row justify-between items-center gap-4">
  <!-- Left Section - Page Info -->
  <span class="text-sm text-gray-600">
    {{ generatePageInfo() }}
  </span>

  <!-- Middle Section - Pagination Controls -->
  <div class="flex items-center gap-2">
    <button
      title="Previous"
      class="px-4 py-2 border rounded-md hover:bg-gray-50 text-gray-600 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="onPageChange.emit(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>

    <div class="flex gap-1">
      <ng-container *ngFor="let page of getPages()">
        <!-- Xử lý dấu ... -->
        <span *ngIf="page === '...'" class="px-3 py-1 text-gray-400">...</span>

        <!-- Xử lý nút trang -->
        <button
          *ngIf="page !== '...'"
          class="px-3 py-1 border rounded-md hover:bg-gray-50 transition-colors text-gray-600 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
          [class.bg-blue-50]="currentPage === page"
          [class.border-blue-200]="currentPage === page"
          (click)="onPageChange.emit(+page)"
          [disabled]="!data || currentPage === page"
        >
          {{ page }}
        </button>
      </ng-container>
    </div>

    <button
      title="Next"
      class="px-4 py-2 border rounded-md hover:bg-gray-50 text-gray-600 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      (click)="onPageChange.emit(currentPage + 1)"
      [disabled]="
        (data && currentPage === data.totalPages) ||
        (data && data.totalPages === 0)
      "
    >
      Next
    </button>
  </div>

  <!-- Right Section - Page Controls -->
  <div class="flex items-center gap-4">
    <!-- Page Size Selector -->
    <select
      [ngModel]="currentPageSize"
      (ngModelChange)="onPageSizeChangeHandler($event)"
      class="border rounded-md px-2 py-1 text-sm text-gray-600"
    >
      <option *ngFor="let size of pageSizes" [value]="size">
        {{ size }} per page
      </option>
    </select>

    <!-- Go to Page -->
    <div class="flex items-center gap-2">
      <span class="text-sm text-gray-600">Go to</span>
      <input
        type="number"
        [min]="1"
        [max]="data.totalPages"
        [(ngModel)]="inputPage"
        (change)="validateAndGoToPage()"
        class="w-16 border rounded-md px-2 py-1 text-sm text-center text-gray-600"
      />
      <span class="text-sm text-gray-600">Page</span>
    </div>
  </div>
</div>
